*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     
    
}

/* Hlavička */

body {
  background-image: url("images/background.jpg");
  background-size: cover;        /* vždy vyplní obrazovku */
  background-position: center;   /* vycentrované */
  background-repeat: no-repeat;
  background-attachment: fixed;  /* zostane pri scrollovaní */
}

.logo{
    margin-left: 20%;
}
.sarch{
    max-width:100%;
    background-color: #ef522d;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;

}



.lupa{
    width: 525px;
    height: 45px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-left:400px;
    

}

.sarch form button{
    width: 120px;
    height: 30px;
    margin:10px;
    border-radius: 5px;
}

#menuColaps{
    height: 54px;
    display: flex;
    max-width: 100%;
    width:100%;
    margin: 0 auto;
    /*position:fixed;*/
    justify-content: center;
   
    
    
}

#menuColaps a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 170px;
    font-size: 25px;
    text-decoration: none;
    color:white;
    padding: 15px 8px ;
    text-align:center;
}

#menuColaps a:hover{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 170px;
    font-size: 30px;
    text-decoration: none;
    color:white;
    padding: 15px 8px ;
    text-align:center;
}

/* Hlavna čast */

.mid{
    width:100%;
    display: flex;
    align-items:center;
    justify-content: center;

    
}

.mid img{
    align-items:center;
    border-radius: 30px;
    border: 1px solid black;
}


.banner{
    display: grid; 
    grid-template-columns: repeat(2,2fr);
    gap: 65px;
    margin-left: 20px;
    
}

.banner img{
    border-radius: 30px;
    margin: 0;
}

.article{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

}

.info{
    margin:20px 0px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
}

.info:hover{
    margin:20px 0px;
    font-size: 20px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
}

h1{
    width: 1100px;
    margin: 0 auto;
    
}

/* Kategórie */

.category{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    gap: 20px;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.pick{
    width: 200px;
    height: 130px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid white;
    color: white;
}

.pick a{
    text-decoration: none;  
    color: white;
}

.pick a:hover{
    text-decoration: underline; 
    font-size: 20px;
    color: white;
}

/* BLOG */

.blog{
    display:block;
    width: 100%;
    text-align: center;
    margin: 20px 0 ;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;   
    padding: 20px;
    margin: 0 auto;
    border-bottom: 1px solid;
        color: white;
}

.hero {
    margin: 30px;
}

.hero h3{
    font-size: 30px;
}

/* Brands */

.brands{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.brands img{
    max-width: 200px;
}